@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-moz-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-moz-scrollbar-thumb {
  background: black;
}

::-ms-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-ms-scrollbar-thumb {
  background: black;
}

::scrollbar {
  background-color: transparent;
  width: 5px;
}

::scrollbar-thumb {
  background: black;
}
